.logo {
  height: 80px;
}

.navbar {
  background-color: transparent;
}

// Hamburger

button.navbar-toggler {
  border: none;
}

button.custom-toggler:hover,
button.custom-toggler:focus {
  outline: none;
  box-shadow: none;
}

button.custom-toggler[aria-expanded='false'],
button.custom-toggler[aria-expanded='true'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0 20px 20px;
  cursor: pointer;
}

#navmenu.navbar-collapse.collapse.show,
#navmenu.navbar-collapse.collapsing {
  background-color: $body-secondary-bg;
  z-index: 10;
}

.line {
  height: 4px;
  width: 30px;
  background: $dark;
  margin: 2px auto;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.custom-toggler[aria-expanded='true'] {
  .line:nth-child(1) {
    transform: rotate(45deg) translate(4px, 8px);
  }
  .line:nth-child(2) {
    visibility: hidden;
  }
  .line:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -8px);
  }
}
