#intro {
  background-image: url('../img/banner.webp');
  background-position: 85% 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;

  #text {
    padding-top: 8rem;
  }

  @include media-breakpoint-up(md) {
    background-position: 75% 0;
  }

  @include media-breakpoint-up(lg) {
    background-position: 35% 0;
  }
}

.mask {
  background-color: rgba(243, 238, 233, 0.7);
  min-height: 100vh;
}
