#intro {
  background-image: url('../img/banner.webp');
  background-position: 85% 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 122px;

  @include media-breakpoint-up(md) {
    background-position: 75% 0;
  }

  @include media-breakpoint-up(lg) {
    background-position: 35% 0;
  }
}
