@import '~modern-normalize/modern-normalize';
@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.min.css';
@import 'spinner';
@import 'fonts';
@import 'header';
@import 'intro';
@import 'ticker';
@import 'accordion';
@import 'appointment';
@import 'testimonials';
@import '~aos/dist/aos';

body {
  overflow-x: hidden;
}

// Images

.img-fluid {
  max-width: 100%;
  height: auto;
}

// Buttons

.btn-lg {
  padding: $input-btn-padding-x $input-btn-padding-y;

  @include media-breakpoint-up(lg) {
    padding: $input-btn-padding-x-lg $input-btn-padding-y-lg;
  }
}

.btn-primary {
  color: $white;

  @media (hover: hover) {
    &:hover {
      background-color: transparent;
      color: $primary;
    }
  }
}

.btn-secondary {
  color: $text-dark;
  @media (hover: hover) {
    &:hover {
      background-color: $primary;
      color: $white;
      border-color: $primary;
    }
  }
}
